name: Build All Branches

on:
  workflow_dispatch:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-main:
    name: Build "main"
    runs-on: ubuntu-latest
    steps:
    - id: prepare-java-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.4.0
      with:
        checkout-branch: main
    - id: build-java
      name: Java build and run tests
      run: |
        # Java build and run tests
        cd Java
        mvn \
          --no-transfer-progress \
          --batch-mode \
          compile
    - id: prepare-dotnet-build
      name: Prepare .NET build
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.x
    - id: build-dotnet
      name: .NET build and run tests
      run: |
        # .NET build and run tests
        cd C#
        dotnet build
        dotnet test --list-tests

  build-step1:
    name: Build "step1"
    runs-on: ubuntu-latest
    steps:
    - id: prepare-java-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.4.0
      with:
        checkout-branch: step1
    - id: build-java
      name: Java build and run tests
      run: |
        # Java build and run tests
        cd Java
        mvn \
          --no-transfer-progress \
          --batch-mode \
          compile
    - id: prepare-dotnet-build
      name: Prepare .NET build
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.x
    - id: build-dotnet
      name: .NET build and run tests
      run: |
        # .NET build and run tests
        cd C#
        dotnet build
        dotnet test --list-tests

  build-step2:
    name: Build "step2"
    runs-on: ubuntu-latest
    steps:
    - id: prepare-java-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.4.0
      with:
        checkout-branch: step2
    - id: build-java
      name: Java build and run tests
      run: |
        # Java build and run tests
        cd Java
        mvn \
          --no-transfer-progress \
          --batch-mode \
          test
    - id: prepare-dotnet-build
      name: Prepare .NET build
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.x
    - id: build-dotnet
      name: .NET build and run tests
      run: |
        # .NET build and run tests
        cd C#
        dotnet build
        dotnet test --list-tests
        dotnet test

  build-step3:
    name: Build "step3"
    runs-on: ubuntu-latest
    steps:
    - id: prepare-java-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.4.0
      with:
        checkout-branch: step3
    - id: build-java
      name: Java build and run tests
      run: |
        # Java build and run tests
        cd Java
        mvn \
          --no-transfer-progress \
          --batch-mode \
          test
    - id: prepare-dotnet-build
      name: Prepare .NET build
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.x
    - id: build-dotnet
      name: .NET build and run tests
      run: |
        # .NET build and run tests
        cd C#
        dotnet build
        dotnet test --list-tests
        dotnet test

  build-step4:
    name: Build "step4"
    runs-on: ubuntu-latest
    steps:
    - id: prepare-java-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.4.0
      with:
        checkout-branch: step4
    - id: build-java
      name: Java build and run tests
      run: |
        # Java build and run tests
        cd Java
        mvn \
          --no-transfer-progress \
          --batch-mode \
          test
    - id: prepare-dotnet-build
      name: Prepare .NET build
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.x
    - id: build-dotnet
      name: .NET build and run tests
      run: |
        # .NET build and run tests
        cd C#
        dotnet build
        dotnet test --list-tests
        dotnet test
